.f1 {
  margin-top: 60px;
}
.f1 img {
  width: 100%;
  height: 100%;
}
.ll1 {
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover 100%;
  position: relative;
}
.yw4 {
  position: absolute;
  right: 200px;
  bottom: 150px;
}
.yw4_s2 {
  width: 1200px;
  height: 400px;
  padding-top: 50px;
  margin: 0 auto;
}
.p {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #333;
}
.span {
  font-size: 40px;
  color: #ff000e;
}
.xp {
  font-size: 22px;
  padding-top: 22px;
  color: #999;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.mmg {
  width: 1140px;
  height: 480px;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
.container {
  background: url(../images/flowchart/flowchartbg.png);
}
.agg {
  background: url(../images/class/abcdefg.png) no-repeat center center;
  height: 330px
;
  margin-top: 60px;
}
.kf {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}
.ke_l {
  width: 200px;
  height: 300px;
}
.ke_l ul li a {
  display: inline-block;
  width: 170px;
  height: 40px;
  border-radius: 20px;
  margin: 15px;
  text-indent: 70px;
  line-height: 40px;
  font-size: 20px;
  color: #000;
}
.ke_l ul li:nth-child(1) a {
  background: url(../images/class/star.png) 20px 10px no-repeat;
}
.ke_l ul li:nth-child(1) a:hover {
  background: url(../images/class/star1.png) 0px 0px no-repeat;
}
.ke_l ul li:nth-child(2) a {
  background: url(../images/class/tip.png) 20px 10px no-repeat;
}
.ke_l ul li:nth-child(2) a:hover {
  background: url(../images/class/tip1.png) 0px 0px no-repeat;
}
.ke_l ul li:nth-child(3) a {
  background: url(../images/class/screen.png) 20px 10px no-repeat;
}
.ke_l ul li:nth-child(3) a:hover {
  background: url(../images/class/screen1.png) 0px 0px no-repeat;
}
.ke_l ul li:nth-child(4) a {
  background: url(../images/class/doctor.png) 20px 10px no-repeat;
}
.ke_l ul li:nth-child(4) a:hover {
  background: url(../images/class/doctor1.png) 0px 0px no-repeat;
}
